﻿@model PfcWeb.Domain.Entities.Departamento
@{
    ViewBag.Title = "EditarDepartamento";
}
@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("ListaDepartamento", "Departamento")">Lista departamento</a>
    <a class="ml-auto text-white" href="@Url.Action("MenuGerente", "Menu")">Início</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container ">
    <div class="card card-register text-white mx-auto mt-5 bg-dark">
        <div class="card-header">Detalhes do Departamento</div>
        <div class="card-body">
            <form method="post" action="@Url.Action("EditarDepartamento", "Departamento")">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @readonly = "readonly", id = "id", required = "required" })
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "validate" })
                                <label for="id">ID Interno</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", id = "nome", required = "required" })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "validate" })
                                <label for="nome">Nome do Departamento</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-9">
                            <label>Descrição do departamento</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control",
                                                  @cols = "100", @rows = "8",  @maxlength="500", @style = "resize:none;", required = "required" })
                                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "validate" })
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">Salvar</button>
            </form>
        </div>
    </div>
</div>

