﻿@model PfcWeb.Domain.Entities.Usuario
@{
    ViewBag.Title = "Usuario";
}
@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("MenuGerente", "Menu")">Inicio</a>
    <a class="ml-auto text-white" href="@Url.Action("ListaUsuario", "Usuario")">Lista Usuario</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>

<!--CRIAR SELECT ASP.NET NO NÍVEL DE ACESSO-->
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Registro de usuário</div>
        <div class="card-body">
            <form method="post" action="@Url.Action("CadastrarUsuario", "Usuario")">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control", id = "usuario", required = "required", placeholder = "Usuario" })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                <label for="usuario">Usuário</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                @Html.PasswordFor(x => x.Senha, new { @class = "form-control", id = "senha", required = "required", placeholder = "Senha", maxlength = "20" })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                <label for="senha">Senha</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nivelAcesso">Nivel de acesso:</label>
                    <select required="required" class="form-control" id="nivelAcesso" name="nivelAcesso">
                        <option value="GERENTE">Gerente</option>
                        <option value="ESTOQUE">Estoque</option>
                        <option value="CAIXA">Caixa</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>