﻿
@{
    ViewBag.Title = "Error";
}


<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
</nav>

<!--CRIAR SELECT ASP.NET NO NÍVEL DE ACESSO-->
<div class="container">
    <h1>Erro</h1>
    <br>
    <label>Usuario não tem permissão de acesso a está página!</label> 
</div>

