﻿@model IEnumerable<PfcWeb.MVC.ViewModel.UsuarioViewModel>
@{
    ViewBag.Title = "ListaUsuario";
}

@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("CadastrarUsuario", "Usuario")">Cadastrar Usuário</a>
    <a class="ml-auto text-white" href="@Url.Action("MenuGerente", "Menu")">Início</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container ">
    <div class="card card-register text-white mx-auto mt-5 bg-dark">
        <div class="card-header">Lista de Usuários</div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Login
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarUsuario", new { id = item.ID }, new { @class = "text-white btn btn-warning" })

                        @if (item.Status == "Ativado")
                        {
                            @Html.ActionLink("Desativar", "DesativarUsuario", new { id = item.ID }, new { @class = "btn btn-danger" })
                        }
                        else
                        {
                            @Html.ActionLink("Ativar", "AtivarUsuario", new { id = item.ID }, new { @class = "btn btn-success" })
                        }
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>
