﻿@model PfcWeb.Domain.Entities.Usuario
@{
    ViewBag.Title = "Login";
}
@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
</nav>

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form method="post" action="@Url.Action("Login", "Usuario")">
                <div class="form-group">
                    <div class="form-label-group">
                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", id = "login", required = "required" })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                        <label for="login">Usuário</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        @Html.PasswordFor(x => x.Senha, new { @class = "form-control", id = "senha", required = "required" })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        <label for="senha">Senha</label>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" name="action">
                    Entrar
                </button>
            </form>
        </div>
    </div>
</div>