﻿@model PfcWeb.Domain.Entities.Lote
@{
    ViewBag.Title = "Lote";
}
@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("ConsultaLote", "Lote")">Consultar Lote</a>
    <a class="ml-auto text-white" href="@Url.Action("MenuFuncEstoque", "Menu")">Início</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>

<div class="container">
    <div class="card card-register text-white mx-auto mt-5 bg-dark">
        <div class="card-header">Registro de Lote</div>
        <div class="card-body">
            <form method="post" action="@Url.Action("CadastrarLote", "Lote")">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control", maxlength = "13", id = "barcode", required = "required" })
                                @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "validate" })
                                <label for="barcode">Código de Barras</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.QuantidadeItens, new { @class = "form-control", type = "number", id = "quantidadeItens", required = "required" })
                                @Html.ValidationMessageFor(model => model.QuantidadeItens, "", new { @class = "validate" })
                                <label for="quantidadeItens">Quantidade Itens</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.DataEntrada, new { @class = "form-control", Type = "date", id = "dataEntrada", required = "required" })
                                @Html.ValidationMessageFor(model => model.DataEntrada, "", new { @class = "text-danger" })
                                <label for="dataEntrada">Data Entrada</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-4">
                            <label>Categoria</label>
                            <div class="form-label-group">
                                @Html.DropDownListFor(model => model.Categoria.ID, new SelectList(ViewBag.Categoria, "ID", "Descricao"),
                                                        new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.Categoria.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Produto</label>
                            <div class="form-label-group">
                                @Html.DropDownListFor(model => model.Produto.ID, new SelectList(ViewBag.Produto, "ID", "Nome"),
                                                        new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.Produto.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <br />
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.DataValidade, new { @class = "form-control", type = "date", id = "dataValidade", required = "required" })
                                @Html.ValidationMessageFor(model => model.DataValidade, "", new { @class = "validate" })
                                <label for="dataValidade">Data de Validade</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-md-9">
                            <label>Descrição do Lote</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control",
                                                  @cols = "100", @rows = "8", @maxlength="500", @style = "resize:none;", required = "required" })
                                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "validate" })
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
            </form>
        </div>
    </div>
</div>