﻿@model IEnumerable<PfcWeb.Domain.Entities.Lote>
@{
    ViewBag.Title = "BuscaLote";
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("CadastrarLote", "Lote")">Cadastrar Lote</a>
    <a class="ml-auto text-white" href="@Url.Action("MenuFuncEstoque", "Menu")">Início</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <div class="card text-white mt-3 mw-100 bg-dark">
        <div class="card-header">Lotes</div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        Icone
                    </th>
                    <th>
                        ID Lote
                    </th>
                    <th>
                        Produto
                    </th>
                    <th>
                        Barcode
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Data de Entrada
                    </th>
                    <th>
                        Data de Validade
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        @if (!item.Status)
                        {
                            <td>
                                <img src="~/Resources/forbidden.png" />
                            </td>
                            <td>
                                <label class="text-danger">@item.ID</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.Produto.Nome</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.Barcode</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.Categoria.Descricao</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.QuantidadeItens</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.DataEntrada.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.DataValidade.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-danger">DESCARTADO</label>
                            </td>
                        }
                        else if (item.QuantidadeItens <= 0)
                        {
                            <td>
                                <img src="~/Resources/confirm.png" />
                            </td>
                            <td>
                                <label class="text-success">@item.ID</label>
                            </td>
                            <td>
                                <label class="text-success">@item.Produto.Nome</label>
                            </td>
                            <td>
                                <label class="text-success">@item.Barcode</label>
                            </td>
                            <td>
                                <label class="text-success">@item.Categoria.Descricao</label>
                            </td>
                            <td>
                                <label class="text-success">@item.QuantidadeItens</label>
                            </td>
                            <td>
                                <label class="text-success">@item.DataEntrada.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-success">@item.DataValidade.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-success">VENDIDO</label>
                            </td>
                        }
                        else if (Convert.ToDateTime(item.DataValidade) <= DateTime.Now)
                        {
                            <td>
                                <img src="~/Resources/forbidden.png" />
                            </td>
                            <td>
                                <label class="text-danger">@item.ID</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.Produto.Nome</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.Barcode</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.Categoria.Descricao</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.QuantidadeItens</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.DataEntrada.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-danger">@item.DataValidade.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-danger">PRONTO PARA DESCARTE</label>
                            </td>
                            <td>
                                @Html.ActionLink("Descartar", "DescartarLote", new { id = item.ID }, new { @class = "btn btn-danger" })
                            </td>
                        }
                        else if (Convert.ToDateTime(item.DataValidade).AddDays(-31) < DateTime.Now)
                        {
                            <td>
                                <img src="~/Resources/bargain.png" />
                            </td>
                            <td>
                                <label class="text-warning">@item.ID</label>
                            </td>
                            <td>
                                <label class="text-warning">@item.Produto.Nome</label>
                            </td>
                            <td>
                                <label class="text-warning">@item.Barcode</label>
                            </td>
                            <td>
                                <label class="text-warning">@item.Categoria.Descricao</label>
                            </td>
                            <td>
                                <label class="text-warning">@item.QuantidadeItens</label>
                            </td>
                            <td>
                                <label class="text-warning">@item.DataEntrada.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-warning">@item.DataValidade.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-warning">LOTE COM DESCONTO</label>
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditarLote", new { id = item.ID }, new { @class = "text-white btn btn-warning" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" id="btnTransfer" name="btnTransfer" onclick="btnTransfer_onclick(@item.ID)">+</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <img src="~/Resources/sale.png" />
                            </td>
                            <td>
                                <label class="text-white">@item.ID</label>
                            </td>
                            <td>
                                <label class="text-white">@item.Produto.Nome</label>
                            </td>
                            <td>
                                <label class="text-white">@item.Barcode</label>
                            </td>
                            <td>
                                <label class="text-white">@item.Categoria.Descricao</label>
                            </td>
                            <td>
                                <label class="text-white">@item.QuantidadeItens</label>
                            </td>
                            <td>
                                <label class="text-white">@item.DataEntrada.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-white">@item.DataValidade.ToString("dd/MM/yyyy")</label>
                            </td>
                            <td>
                                <label class="text-white">ATIVO</label>
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditarLote", new { id = item.ID }, new { @class = "text-white btn btn-warning" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" id="btnTransfer" name="btnTransfer" onclick="btnTransfer_onclick(@item.ID)">+</button>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quantidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" value="1" required autofocus class="form-control" name="txtQuantidade" id="txtQuantidade">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-success" accesskey="Enter" id="btnAdd" name="btnAdd" data-dismiss="modal">Adicionar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function btnTransfer_onclick(id) {
            $('#myModal').modal('show');
            document.getElementById('txtQuantidade').focus();

             $("#btnAdd").click(function () {
                 var Quantidade = parseInt(document.getElementById('txtQuantidade').value);
                 if (Quantidade > 0) {
                     var f = {};
                     f.url = '@Url.Action("TransferirProdutos", "Lote")';
                     f.type = "POST";
                     f.dataType = "json";
                     f.data = JSON.stringify({
                         id,
                         Quantidade
                     });
                     f.contentType = "application/json";
                     f.success = function (response) {
                         if (response.mensagem == "ERRO PRATELEIRA") {
                             alert("Não existe uma prateleira com esse item")
                         } else if (response.mensagem == "SUCESSO") {
                             alert("Transferencia registrada")
                             window.location.reload();
                         } else if(response.mensagem == "ERRO QUANTIDADE"){
                             alert("Valor fornecido maior que o cadastrado no lote")
                         }
                     };
                     f.error = function (response) {
                         alert("Erro na transferencia")
                     };
                     $.ajax(f);
                 } else {
                     alert("A quantidade para transferencia deve ser maior que 0")
                 }
            });
        }
    </script>
}