﻿@model PfcWeb.Domain.Entities.Lote
@{
    ViewBag.Title = "BuscaLote";
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("CadastrarLote", "Lote")">Cadastrar Lote</a>
    <a class="ml-auto text-white" href="@Url.Action("MenuFuncEstoque", "Menu")">Início</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <br>
    <br>
    <div class="row justify-content-md-center col-xl-12">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <form method="get" action="@Url.Action("CadastrarLote", "Lote")">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Lote ID a buscar</span>
                                        </div>
                                        @Html.TextBoxFor(model => model.ID, new { @class = "validate" })
                                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "validate" })
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-light">
                                            <i class="fas fa-fw fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            <tr>
                                <td>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Lote Fornecedor</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-light">
                                            <i class="fas fa-fw fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>


                            <div class="container ">
                                <div class="card card-register text-white mx-auto mt-5 bg-dark">
                                    <div class="card-header">Lotes</div>
                                    <div class="card-body">
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    ID Lote
                                                </th>
                                                <th>
                                                    Produto
                                                </th>
                                                <th>
                                                    Descrição
                                                </th>
                                                <th>
                                                    Categoria
                                                </th>
                                                <th>
                                                    Quantidade
                                                </th>
                                                <th>
                                                    Validade
                                                </th>
                                                <th></th>
                                            </tr>

                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Produto)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Descricao)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Categoria)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.QuantidadeItens)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DataValidade)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Editar", "EditarLote", new { id = item.ID }, new { @class = "text-white btn btn-warning" })
                                                    @Html.ActionLink("Excluir", "ExcluirLote", new { id = item.ID }, new { @class = "btn btn-danger" })

                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                                        Launch demo modal
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    ...
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                                    <button type="button" class="btn btn-primary">Salvar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
</form>
            </div>
        </div>
    </div>
</div>