﻿@model PfcWeb.Domain.Entities.Funcionario
@{
    ViewBag.Title = "Funcionário";
}

@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("MenuGerente", "Menu")">Inicio</a>
    <a class="ml-auto text-white" href="@Url.Action("ListaFuncionario", "Funcionario")">Listar funcionário</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Registro de Funcionario</div>
        <div class="card-body">
            <form method="post" action="@Url.Action("CadastrarFuncionario", "Funcionario")">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", id = "nome", required = "required" })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                <label for="nome">Nome</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.CPF, new { @class = "form-control", type = "number", id = "cpf", required = "required" })
                                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                                <label for="cpf">CPF</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-9">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "email", required = "required" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.RG, new { @class = "form-control", id = "rg", required = "required" })
                                @Html.ValidationMessageFor(model => model.RG, "", new { @class = "text-danger" })
                                <label for="rg">RG</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>Cargo</label>
                            <div class="form-label-group">
                                @Html.EnumDropDownListFor(model => model.Cargo, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <br>
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control", type = "number", id = "telefone", required = "required" })
                                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                                <label for="telefone">Telefone</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <br>
                            <div class="form-label-group">
                                <select required="required" class="form-control" id="sexo" name="sexo">
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-9">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Endereco.Rua, new { @class = "form-control", id = "rua", required = "required" })
                                @Html.ValidationMessageFor(model => model.Endereco.Rua, "", new { @class = "text-danger" })
                                <label for="rua">Rua</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Endereco.Numero, new { @class = "form-control", Type = "number", id = "numero", required = "required" })
                                @Html.ValidationMessageFor(model => model.Endereco.Numero, "", new { @class = "text-danger" })
                                <label for="numero">Numero</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Endereco.Complemento, new { @class = "form-control", id = "complemento", required = "required" })
                                @Html.ValidationMessageFor(model => model.Endereco.Complemento, "", new { @class = "text-danger" })
                                <label for="complemento">Complemento</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Endereco.Bairro, new { @class = "form-control", id = "bairro", required = "required" })
                                @Html.ValidationMessageFor(model => model.Endereco.Bairro, "", new { @class = "text-danger" })
                                <label for="bairro">Bairro</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Endereco.CEP, new { @class = "form-control", Type = "number", id = "cep", required = "required" })
                                @Html.ValidationMessageFor(model => model.Endereco.CEP, "", new { @class = "text-danger" })
                                <label for="cep">CEP</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-9">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Endereco.Cidade, new { @class = "form-control", id = "cidade", required = "required" })
                                @Html.ValidationMessageFor(model => model.Endereco.Cidade, "", new { @class = "text-danger" })
                                <label for="cidade">Cidade</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-label-group">
                                @Html.EnumDropDownListFor(model => model.Endereco.Estado, "Estado", new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.Endereco.Estado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>Departamento</label>
                            <div class="form-label-group">
                                @Html.DropDownListFor(model => model.Departamento.ID, new SelectList(ViewBag.DepartamentoID, "ID", "Nome"),
                                                        new { @class = "form-control", required = "required"})
                                @Html.ValidationMessageFor(model => model.Departamento.ID, "", new { @class = "validate" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.DataAdmissao, new { @class = "form-control", Type = "date", id = "dataAdmissao", required = "required" })
                                @Html.ValidationMessageFor(model => model.DataAdmissao, "", new { @class = "text-danger" })
                                <label for="dataAdmissao">Data Admissão</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
            </form>
        </div>
    </div>
</div>