﻿@model IEnumerable<PfcWeb.Domain.Entities.Funcionario>
@{
    ViewBag.Title = "ListaFuncionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("CadastrarFuncionario", "Funcionario")">Cadastrar Funcionário</a>
    <a class="ml-auto text-white" href="@Url.Action("MenuGerente", "Menu")">Início</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container ">
    <div class="card text-white mx-auto mt-5 bg-dark">
        <div class="card-header">Lista de Funcionários</div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        CPF
                    </th>
                    <th>
                        Cargo
                    </th>
                    <th>
                        Departamento
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    if (item.DataDemissao == null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cargo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departamento.Nome)
                            </td>
                            <td>
                                <label>ATIVADO</label>
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditarFuncionario", new { cpf = item.CPF }, new { @class = "text-white btn btn-warning" })
                                @Html.ActionLink("Demitir", "DemitirFuncionario", new { cpf = item.CPF }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cargo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departamento.Nome)
                            </td>
                            <td>
                                <label>DESATIVADO</label>
                            </td>
                            <td>
                                @Html.ActionLink("Readmitir", "ReadmitirFuncionario", new { cpf = item.CPF }, new { @class = "btn btn-success" })
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
