﻿@model PfcWeb.Domain.Entities.Prateleira
@{
    ViewBag.Title = "Produto";
}


@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("ListaPrateleira", "Prateleira")">Listar Prateleira</a>
    <a class="ml-auto text-white" href="@Url.Action("MenuFuncEstoque", "Menu")">Início</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>

<div class="container ">
    <div class="card card-register text-white mx-auto mt-5 bg-dark">
        <div class="card-header">Registro de Prateleira</div>
        <div class="card-body">
            <form method="post" action="@Url.Action("EditarPrateleira", "Prateleira")">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @readonly = "readonly", id = "id", required = "required" })
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "validate" })
                                <label for="id">ID da Prateleira</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-md-4">
                            <br>
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", id = "descricao", required = "required" })
                                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "validate" })
                                <label for="descricao">Descrição</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <br>
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Quantidade, new { @class = "form-control", @readonly = "readonly", type = "number", id = "quantidade", required = "required" })
                                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "validate" })
                                <label for="quantidade">Quantidade</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Lote</label>
                            <div class="form-label-group">
                                @Html.DropDownListFor(model => model.Lote.ID, new SelectList(ViewBag.Lote, "ID", "Descricao", Model.Lote.ID),
                                                        new { @class = "form-control", @disabled = "disabled", required = "required" })
                                @Html.ValidationMessageFor(model => model.Lote.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
            </form>
        </div>
    </div>
</div>