﻿@{
    ViewBag.Title = "MenuGerente";
}
@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<!--ESSE MENU TEM Q TER CADASTRAR FUNCIONARIO, DEPARTAMENTO, USUÁRIO E RELATÓRIO-->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <br>
    <br>
    <div class="row justify-content-md-center col-xl-12">
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-laptop"></i>
                    </div>
                    <h2>Usuários</h2>
                    <div class="mr-3">Cadastre, consulte e atualize dados de um usuário</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ListaUsuario", "Usuario")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-address-book"></i>
                    </div>
                    <h2>Departamentos</h2>
                    <div class="mr-3">Cadastre, consulte e atualize um departamento</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ListaDepartamento", "Departamento")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
        <br />
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-address-card"></i>
                    </div>
                    <h2>Funcionários</h2>
                    <div class="mr-3">Cadastre, consulte e atualize dados de um funcionário</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ListaFuncionario", "Funcionario")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-clipboard"></i>
                    </div>
                    <h2>Relatórios</h2>
                    <div class="mr-3">Acesse os diferentes relatórios salvos no sistema</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("SelecaoRelatorios", "Relatorios")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
    </div>
</div>