﻿@{
    ViewBag.Title = "MenuFuncEstoque";
}

@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<!--ESSE MENU TEM Q CADASTRAR LOTE E PRODUTO-->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <br>
    <br>
    <div class="row justify-content-md-center col-xl-12">
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-code-fork"></i>
                    </div>
                    <h2>Produtos</h2>
                    <div class="mr-3">Cadastre, consulte e atualize um produto</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ListaProduto", "Produto")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                    </div>
                    <h2>Categorias</h2>
                    <div class="mr-3">Cadastre, consulte e atualize uma categoria</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ListaCategoria", "Categoria")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
        <br />
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-address-card"></i>
                    </div>
                    <h2>Lotes</h2>
                    <div class="mr-3">Cadastre, consulte e atualize dados de um lote</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ConsultaLote", "Lote")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-stroopwafel"></i>
                    </div>
                    <h2>Prateleira</h2>
                    <div class="mr-3">Cadastre, consulte e atualize uma Prateleira</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ListaPrateleira", "Prateleira")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
        <br />
    </div>
</div>