﻿@{
    ViewBag.Title = "Vendas";
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("MenuFuncCaixa", "Menu")">Inicio</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <div class="card card mx-auto mt-5">
        <div class="card-header">Frente de Caixa</div>
        <div class="card-body">
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-9">
                                    <div class="form-label-group">
                                        <input autofocus maxlength="13" class="form-control" name="txtBarcode" id="txtBarcode">
                                        <label for="txtBarcode">Codigo de Barras</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input type="number" name="txtRecebido" id="txtRecebido">
                                    <label for="txtRecebido">Recebido</label>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="col-md-4">
                                <h6>Troco: </h6>
                                <h6 id="lblTroco" step=".01">0</h6>
                            </div>

                            <div class="col-md-4">
                                <h6>Total Itens: </h6>
                                <h6 id="lblTotalItens">0</h6>
                            </div>

                            <div class="col-md-4">
                                <h6>Valor Total: </h6>
                                <h6 id="lblTotalAPagar" onchange="setTwoNumberDecimal" type='number' step='0,01'>0</h6>
                            </div>

                            <br>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <button align="center" class="btn btn-success" name="btnFinalize" id="btnFinalize" style="width: 100%">Finalizar Compra</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div align="right" style="max-width:100%; overflow: scroll; max-height:100%;">
                            <table class="table table-striped table-bordered" align="center" id="tabelaCarrinho">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nome do Item</th>
                                        <th scope="col">Quantidade de Itens</th>
                                        <th scope="col">Valor Unitário (R$)</th>
                                    </tr>
                                </thead>
                                <tbody id="tabelaBody">
                                    @*Tabela à ser populada*@
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quantidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" value="1" class="form-control" name="txtQuantidade" id="txtQuantidade">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-success" id="btnAdd" name="btnAdd" data-dismiss="modal">Adicionar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quantidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number" value="1" class="form-control" name="txtQuantidade" id="txtQuantidade">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-success" id="btnAdd" name="btnAdd" data-dismiss="modal">Adicionar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function setTwoNumberDecimal(event) {
            this.value = parseFloat(this.value).toFixed(2);
        }

        $(document).ready(function () {
            var totalValor = Number(0);
            var totalItens = Number(0);
            var Barcode;

        $("#txtBarcode").on('keyup', function (e) {
                if (e.key == "Enter") {
                    Barcode = document.getElementById('txtBarcode').value;
                    if (Barcode.lenght != 0) {
                        $('#myModal').modal('show');
                        document.getElementById('txtBarcode').focus();
                        document.getElementById('txtQuantidade').focus();
                    }
                }
            });

      
        $("#btnAdd").click(function () {
            var QuantidadeItens = parseInt(document.getElementById('txtQuantidade').value);
            if (QuantidadeItens > 0) {
                var f = {};
                f.url = '@Url.Action("AdicionarProduto", "Venda")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({
                    Barcode,
                    QuantidadeItens
                });
                f.contentType = "application/json";
                f.success = function (response) {
                    if (response.produtoID != 0) {
                        document.getElementById('txtBarcode').value = "";
                        
                        var produtoID = "<td>" + response.produtoID + "</td>";
                        var produtoNome = "<td>" + response.produtoNome + "</td>";
                        var produtoQuantidade = "<td>" + QuantidadeItens + "</td>";
                        var produtoValor = "<td type='number' onchange='setTwoNumberDecimal' step='0,01'>" + response.produtoValor + "</td>";

                        totalValor += response.produtoValor * QuantidadeItens;
                        totalItens += QuantidadeItens;
                        document.getElementById("tabelaBody").innerHTML += produtoID + produtoNome + produtoQuantidade + produtoValor;
                        document.getElementById("lblTotalAPagar").innerHTML = totalValor;
                        document.getElementById("lblTotalItens").innerHTML = totalItens;

                        document.getElementById('txtBarcode').focus();
                    } else {
                        if (response.produtoNome == "ERRO QUANTIDADE") {
                            alert("Quantidade Invalida, " + response.produtoQuantidade + " a mais");
                            document.getElementById('txtBarcode').value = "";
                        } else if (response.produtoNome == "ERRO VALIDADE") {
                            alert("Produto não pode ser vendido pois está vencido!");
                            document.getElementById('txtBarcode').value = "";
                        } else if (response.produtoNome == "ERRO PRATELEIRA") {
                            alert("Produto não existe em nenhuma prateleira");
                            document.getElementById('txtBarcode').value = "";
                        }
                        else {
                            alert("Produto Não existente");
                            document.getElementById('txtBarcode').value = "";
                        }
                    }

                };
                f.error = function (response) {
                    alert("Tente Novamente");
                    document.getElementById('txtBarcode').value = "";
                };
                $.ajax(f);
            } else {
                alert("Valor invalido");
            }

            });

        $("#btnFinalize").click(function () {
            if (document.getElementById("lblTotalAPagar").innerText == "0") {
                alert("Nenhum item no carrinho de compras");
            } else {
                var ValorRecebido = parseFloat(document.getElementById('txtRecebido').value);
                var ValorTotal = parseFloat(document.getElementById("lblTotalAPagar").innerText);
                if (document.getElementById('txtRecebido').value <= 0) {
                    alert("Valor Recebido deve ser maior que 0");
                } else if (ValorRecebido < ValorTotal) {
                    alert("Valor menor que Total a Pagar");
                } else {
                    var Troco = ValorRecebido - ValorTotal;
                    document.getElementById("lblTroco").innerText = Troco;
                    var f = {};
                    f.url = '@Url.Action("FinalizarCompra", "Venda")';
                    f.type = "POST";
                    f.dataType = "json";
                    f.data = JSON.stringify({
                        totalItens,
                        ValorTotal,
                        ValorRecebido,
                        Troco
                    });
                    f.contentType = "application/json";
                    f.success = function (response) {
                        if (response.mensagem == "SUCESSO") {
                            alert("Venda efetuada com sucesso - Troco de: R$" + Troco);

                            window.location.reload();
                        } else {
                            alert("Erro ao efetuar a venda, verifique os dados");
                            location.reload();

                        }
                    };
                    f.error = function (response) {
                        alert("Tente Novamente");
                    };
                    $.ajax(f);
                }
            }
        });
    });
    </script>
}