﻿@model IEnumerable<PfcWeb.Domain.Entities.Lote>
@{
    ViewBag.Title = "Lotes descartados";
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("SelecaoRelatorios", "Relatorios")">Seleção de relatórios</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
@if (Model != null)
{
    <div class="container">
        <div class="card text-white mx-auto mt-5 bg-dark">
            <div class="card-header">Relatorio de lotes descartados</div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                ID
                            </th>
                            <th scope="col">
                                Quantidade
                            </th>
                            <th scope="col">
                                Data de Entrada
                            </th>
                            <th scope="col">
                                Data de Validade
                            </th>
                            <th scope="col">
                                Categoria
                            </th>
                            <th scope="col">
                                Produto
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*Conteúdo da tabela*@
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(itemModel => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(itemModel => item.QuantidadeItens)
                            </td>
                            <td>
                                @Html.DisplayFor(itemModel => item.DataEntrada)
                            </td>
                            <td>
                                @Html.DisplayFor(itemModel => item.DataValidade)
                            </td>
                            <td>
                                @Html.DisplayFor(itemModel => item.Categoria.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(itemModel => item.Produto.Nome)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}