﻿@model PfcWeb.Domain.Entities.Lote
@{
    ViewBag.Title = "SelecionarCategoriaLotes";
}

@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}

@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("SelecaoRelatorios", "Relatorios")">Seleção de relatórios</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <div class="card card-register text-white mx-auto mt-5 bg-dark">
        <div class="card-header">Busca por periodo</div>
        <div class="card-body">
            <form method="post" action="@Url.Action("LotesDesativados", "Relatorios")">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Categoria</label>
                        <div class="form-label-group">
                            @Html.DropDownListFor(model => model.Categoria.ID, new SelectList(ViewBag.Categoria, "ID", "Descricao"),
                                                    new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.Categoria.ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">Buscar</button>
            </form>
        </div>
    </div>
</div>
