﻿@{
    ViewBag.Title = "Relatorios";
}
@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("MenuGerente", "Menu")">Início</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <br>
    <br>
    <div class="row justify-content-md-center col-xl-12">
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-calendar-check-o"></i>
                    </div>
                    <h2>Vendas por período</h2>
                    <div class="mr-3">Consulte o volume de vendas dos produtos em determinado período</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("VendasPeriodo", "Relatorios")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-bar-chart"></i>
                    </div>
                    <h2>Produtos vendido</h2>
                    <div class="mr-3">Consulte quais são os produtos vendido em determinado período</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ProdutosVendidos", "Relatorios")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div><br />
        <div class="col-xl-6 col-sm-6 mb-3">
            <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-map"></i>
                    </div>
                    <h2>Lotes descartados</h2>
                    <div class="mr-3">Consulte todos os lotes por categoria que foram descartados </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="@Url.Action("SelecionarCategoriaLotes", "Relatorios")">
                    <i class="float-right medium material-icons">done</i>
                </a>
            </div>
        </div>
    </div>
</div>