﻿@model IEnumerable<PfcWeb.Domain.Entities.Venda>
@{
    ViewBag.Title = "Vendas por período";
}

@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            $('#myModal').modal('show');
        };</script>
}
@if (@TempData["Message"] != null)
{
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["Message"].ToString()</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <h1 class="navbar-brand mr-1">Prime Stock</h1>
    <a class="ml-auto text-white" href="@Url.Action("SelecaoRelatorios", "Relatorios")">Seleção de relatórios</a>
    <a class="ml-auto text-white" href="@Url.Action("Logout", "Usuario")">Sair</a>
</nav>
<div class="container">
    <div class="card card-register text-white mx-auto mt-5 bg-dark">
        <div class="card-header">Busca por periodo</div>
        <div class="card-body">
            <form method="post" action="@Url.Action("VendasPeriodo", "Relatorios")">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>A partir de:</label>
                            <input type="date" name="date1" id="date1" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Até:</label>
                            <input type="date" name="date2" id="date2" class="form-control">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">Buscar</button>
            </form>
        </div>
    </div>
</div>
<br>
@if (Model != null)
{
    <div class="container">
        <div class="card text-white mx-auto mt-5 bg-dark">
            <div class="card-header">Relatorio de vendas por periodo</div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID </th>

                            <th scope="col">Data compra</th>

                            <th scope="col"> Valor total (R$)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*Conteúdo da tabela*@
                        @foreach (var venda in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelVenda => venda.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelVenda => venda.DataHora)
                            </td>
                            <td>
                                @Html.DisplayFor(modelVenda => venda.ValorTotal)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
